nav {
    background-color: rgba(51, 131, 20, 0.699);
}

.nav-link {
    font-weight: 900;
    color: rgb(55, 110, 212);
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgba(255, 237, 73, 0.884);
}
