body {
    background-image: url(https://www.xtrafondos.com/en/descargar.php?id=9455&resolucion=1280x720);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;

}

form {
    width: 30em;
    margin-left: 25em;
    margin-right: 25em;
}

p{
    font-size: 35px;
    font-weight: 700;
    -webkit-text-stroke-color:rgba(252, 234, 77, 0.753) ;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 7px 2px rgb(16, 139, 5);

}