<nav class="navbar navbar-expand-lg  navbar-light "style="background-color: rgba(252, 234, 77, 0.753); border-bottom: dashed #2294ff;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Blue_Period_Logo.png" width="129" height="40" class="d-inline-block align-top" alt="">
          </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/'" [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="item" >Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/nosotros'" routerLinkActive="item"  >Nosotros</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/contacto'" routerLinkActive="item"  >Contacto</a>
          </li>
          
        </ul>
    
      </div>
    </div>
  </nav>