<body>
    <div style="padding-top: 4em; padding-left: 4em;">
    <h1>Escuela Artística</h1>
    </div>

   <section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At nulla provident iure alias dolor deserunt sapiente saepe
        voluptas aperiam? Sed culpa, quia veniam quas incidunt numquam quisquam corrupti velit modi!</p>
   </section>

   <h5 >Ofrecemos <span>cursos</span> en <span>diferentes</span> tipos de <span>Arte</span></h5>

   <div style="display: flex;">

    <div>
        <img width="270" height="180" src="https://img.freepik.com/free-vector/smiling-woman-standing-near-easel-painting-flat-illustration_74855-11057.jpg?w=2000" alt="">
    </div>

    <div>
        <img width="270" height="180" src="https://img.freepik.com/free-vector/hand-drawn-people-dancing_52683-69580.jpg?w=2000" alt="">
    </div>

    <div>
        <img width="270" height="180" src="https://img.freepik.com/free-vector/creative-writing-concept-illustration_114360-8317.jpg?w=2000" alt="">
    </div>

    <div>
        <img width="270" height="180" src="https://img.freepik.com/free-vector/theatre-premiere-night-actor-actress-stage-classic-play-drama-piece-tragedy-scene-broadway-showtime-acting-masks-as-decoration_335657-3624.jpg?w=2000" alt="">
    </div>



   </div>
</body>
